/*
/////////////////////////////////////////////////////////////////////
///   Page layout - default is for viewport 320px wide            ///
///                                                               ///
///   Queries - nick_bergquist@yahoo.co.uk                        ///
/////////////////////////////////////////////////////////////////////
*/

/*  Default 320px media width
/*******************************************************************/
/*body:before { content: "Media between 320 and 479"; }*/

/* Generic DOM elements */
html {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box /* not inherited by default */
}
*, *:before, *:after {
	-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit /* apply desired box model to all but allowing local change */
}
audio {
    width: 100%;
}
body {
    min-width: 320px; /* fix the minimum width */
}
button, input[type=submit] {
    border: 2px solid;
	padding: 2px 5px
}
dd {
	float: right;
	width: auto
}
dl {
	margin-bottom: 0.75em;
    overflow: hidden;
}
dt {
	clear: left;
	float: left;
	width: auto
}
dt:after {
	content: ":"
}
footer {
    overflow: hidden;
    padding: 1.5em 1.67% 2.25em; /* 10px either side at full width: 20/1200 x 100 = 1.67 */
}
footer ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
footer li a {
    display: block;
    padding: 12px;
}
header {
    height: 9.5em;
    position: relative;
}
main {
    overflow: hidden;
    padding: 3.5rem 2.5% 0; /* 15px either side at full width: 30/1200 x 100 = 2.5 */
}
p, li, article, figcaption {
	margin-bottom: 0.75rem; /* 1.5 x 0.5 = 0.75, where 1.5 = def. body line-height & 0.5 = proportion allocated for bottom margins */
}
main h2 {
    border-bottom: 3px solid;
    margin-bottom: 1em;
    padding-bottom: 0.4em;
}
nav {
    border-bottom: 5px solid;
    bottom: 0;
    position: absolute;
}
nav ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
nav li {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
nav a {
    display: block;
    padding: 12px;
}
section {
    margin-bottom: 1.75em;
}

/* class elements: =. */
.anchor-image {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em
}
.container-lozenge {
    border: 10px solid;
    padding: 0;
    position: relative;
}
.container-lozenge::after {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.detail {
    margin-left: 15px;
    margin-right: 15px;
    overflow: hidden;
}
.detail h3 {
    border-bottom: 3px solid;
    margin-bottom: 0.75em;
    padding-bottom: 0.4em;
    padding-top: 1em;
    position: relative;
    z-index: 1;
}
.detail li:first-child h3 {
    margin-bottom: 1.75em;
    padding-top: 3em;
}
.detail > ul {
    padding: 0 2.5%;
    position: relative;
    z-index: 1;
}
.gallery {
    clear: both;
    -webkit-columns: 3 280px; -moz-columns: 3 280px; columns: 3 280px;
    -webkit-column-gap: 0; -moz-column-gap: 0; column-gap: 0;
    margin-top: 2rem;
}
.gallery a {
    display: block;
    overflow: hidden;
}
.gallery img {
	bottom: -50%;
    margin: auto;
    position: absolute;
    top: -50%;
    width: 100%;
}
.gallery > li {
    -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;
    margin: 0 15px 2.0em;
}
.hide {  /* invisible & inaudible */
    display: none;
    visibility: hidden
}
.list-standard li {
    padding-left: 25px;
}
.menu-general a {
    display: block;
    height: 100%
}
.menu-general li {
    width: auto
}
.menu-horiz li {
	float: left
}
.off-screen {  /* invisible only */
    height: 1px;
    left: -999em;
    overflow: hidden;
    position: absolute;
    width: 1px
}
.page-home .introduction {
    margin: 3.5rem auto;
    padding: 7.5rem 10% 6.5rem;
    width: 90%
}
.page-home main {
    border-top: 0;
    min-height: 600px;
}
.page-music section {
    margin: 0 5% 1.75em 5%;
}
.page-music .music-play img {
    margin-bottom: 1.75em;
    width: 100%;
}
.page-paintings .gallery a {
    height: 18rem;
}
.site-home {
    height: 90px;
    margin-bottom: 0;
    position: absolute;
    width: 280px;
}
.skip:active, .skip:focus {
	position: static
}

/*   Media between 480 and 767
/*******************************************************************/
@media only screen and (min-width: 480px) {
	/*body:before { content: "Media between 480 and 767"; }*/
    footer li {
        display: inline-block;
    }
    footer li a {
        border-right: 1px solid #fff;
    }
    footer li:last-child a {
        border-right: 0;
    }
    header {
        height: 12.75em;
    }

	/* class elements: =. */
    /*
    .page-paintings main li {
        float: left;
        margin-right: 2%;
        width: 49%;
    }
    .page-paintings main li:nth-child(2n-2) {
        margin-right: 0;
    }
    */
    
    .site-home {
        height: 144px;
        width: 450px;
    }
}

/*   Media between 900 and 1023
/*******************************************************************/
@media only screen and (min-width: 900px) {
	/*body:before { content: "Media between 900 and 1023"; }*/


	/* class elements: =. */
    .page-home .introduction {
        border-radius: 12em 0;
        margin: 5.25rem auto;
        width: 60%
    }  
    .page-music section {
        float: left;
    }
    .page-music .music-list {
        margin-left: 0;
        margin-right: 3%;
        width: 55%;
    }
    .page-music .music-play {
        margin-left: 0;
        margin-right: 0;
        width: 42%;
    }
    /*
    .page-paintings main li {
        width: 32%;
    }
    .page-paintings main li:nth-child(2n-2) {
        margin-right: 2%;
    }
    .page-paintings main li:nth-child(3n-3) {
		margin-right: 0;
	}
    */
}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {
	/*body:before { content: "Media 1280 and above"; }*/
    /* no need to specify % widths in this range as it's fixed-width desktop size viewport */

    footer {
        padding: 2.5rem 0; 
    }
    header {
        border-radius: 40px 40px 0 0;
        height: 10em;
        margin-top: 2.5em;
    }
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        width: 1200px;
    }
    footer > * {
		padding-left: 20px;
        padding-right: 20px;
	}
    
	/* class elements: =. */
    .choice {
        float: left;
        width: 680px;
    }
    .detail {
        float: right;
        height: 37em;
        margin-right: 0;
        width: 415px;
    }
    .gallery {
        -webkit-columns: 3 225px; -moz-columns: 3 225px; columns: 3 225px;
    }
    .gallery h2 {
        margin-bottom: 8.25em;
    }
    .site-home {
        left: -30px;
        top: -2.0em;
    }

}
