/*
/////////////////////////////////////////////////////////////////////
///   Page layout - mobile first                                  ///
///                                                               ///
///   Queries - nick_bergquist@yahoo.co.uk                        ///
/////////////////////////////////////////////////////////////////////
*/

/*  Default 320px media width
/*******************************************************************/
/* Generic DOM elements */
html {
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box /* not inherited by default */
}
*, *:before, *:after {
	-webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit /* apply desired box model to all but allowing local change */
}
body {
    min-width: 320px; /* fix the minimum width */
}
button, input[type=submit] {
    border: 2px solid;
	padding: 2px 5px
}
dd {
	float: right;
	width: auto
}
dl {
	margin-bottom: 0.75rem;
    overflow: hidden;
}
dt {
	clear: left;
	float: left;
	width: auto
}
dt:after {
	content: ":"
}
footer {
    overflow: hidden;
    padding: 1.5rem 5% 2.25em; /* 30px either side at full width: 60/1200 x 100 = 5 */
}
footer ul {
    display: table;
    margin-bottom: 0.75rem;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
footer li a {
    display: block;
    padding: 0.2rem 12px;
}
h1 {
    margin-bottom: 0.25rem;
}
h2 {
    border-bottom: 3px solid;
    clear: left;
    margin-bottom: 1.75rem;
    padding: 0.5rem 1rem 0.75rem;
}
h3 {
    margin-bottom: 0.25rem; 
    margin-top: 1.25rem;
}
h2:first-child, h3:first-child {
	margin-top: 0;
}
header {
    height: 9.5em;
    position: relative;
    top: 0;
    z-index: 1
}
@media screen and (orientation: portrait) {
    header {
        position: -webkit-sticky; position: sticky
    }
}
main {
    overflow: hidden;
    padding: 2.25rem 5% 2.0rem; /* 30px either side at full width: 60/1200 x 100 = 5 */
}
main :link {
    padding: 0 5px;
}
main .gallery a {
    padding: 0
}
p, li, article, figcaption {
	margin-bottom: 0.75rem; /* 1.5 x 0.5 = 0.75, where 1.5 = def. body line-height & 0.5 = proportion allocated for bottom margins */
}
nav {
    border-bottom: 5px solid;
    bottom: 0;
    position: absolute;
}
nav ul {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
nav li {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
nav a {
    display: block;
    padding: 12px;
}
section {
    margin: 2rem 0 0rem;
    overflow: hidden;
    padding-bottom: 1.75rem;
}

/* class elements: =. */
.anchor-image {
    display: block;
    height: 100%;
    overflow: hidden;
    text-indent: -999em
}
.container-lozenge {
    border: 10px solid;
    padding: 0;
    position: relative;
}
.container-lozenge.image {
    display: block;
    height: 25rem;
    margin: 0 auto 1.5rem;
    overflow: hidden;
    width: 25rem;
}
.container-lozenge.image img {
    bottom: -50%;
    margin: auto;
    position: absolute;
    top: -50%;
    width: 100%;
}
.container-lozenge::before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.deliverable {
    position: absolute;
    right: 0;
    top: 0
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em auto;
    width: 90%;
}
.gallery img {
    display: block;
    width: 100%
}
.gallery li {
    flex: 0 0 7.2em;
    margin: 1em
}
.hide {  /* invisible & inaudible */
    display: none;
    visibility: hidden
}
.list-standard li {
    padding-left: 1em;
    text-indent: -1em;
}
.menu-general a {
    display: block;
    height: 100%
}
.menu-general li {
    width: auto
}
.menu-horiz li {
	float: left
}
.off-screen {  /* invisible only */
    height: 1px;
    left: -999em;
    overflow: hidden;
    position: absolute;
    width: 1px
}
.media-play video, .media-play embed {
    margin-bottom: 1.75rem;
    width: 240px
}
.page-books section li {
    margin-bottom: 1.5rem;
    padding-right: 50px;
    position: relative
}
.page-home .introduction {
    margin: 3.5rem auto;
    padding: 5.0rem 10% 5.5rem;
    width: 90%
}
.page-home main, .page-home-sub main {
    min-height: 64.25rem
}
.page-music .deliverable {
    margin: 0.5em 0;
    width: 150px;
}
.page-music section li {
    margin-bottom: 1.5rem;
    min-height: 5rem;
    overflow: hidden;
    padding-right: 160px; /* contains audio control */
    padding-top: 1rem;
    position: relative;
}
.page-music section li a {
    float: left;
    margin: 0.75em 0;
}
.page-music .container-lozenge * {
    position: relative
}
.site-home {
    height: 90px;
    margin-bottom: 0;
    position: absolute;
    width: 280px
}
.skip:active, .skip:focus {
	position: static
}

/*   Media between 480 and 767
/*******************************************************************/
@media only screen and (min-width: 480px) {
    footer li {
        display: inline-block;
    }
    footer li a {
        border-right: 1px solid
    }
    footer li:last-child a {
        border-right: 0
    }
    header {
        height: 12.75em
    }

	/* class elements: =. */
    .gallery {
        width: auto
    }
    .media-play video, .media-play embed {
        width: 420px
    }
    .page-paintings .description, .page-interior-design .description {
        float: left;
        margin-right: 4%;
        width: 21%
    }
    .page-paintings .gallery, .page-interior-design .gallery {
        float: left;
        margin-top: 0;
        width: 75%
    }
    .page-books main section {
        float: left;
        margin-right: 4%;
        width: 48%
    }
    .page-books main section:last-child {
        margin-right: 0
    }
    .site-home {
        height: 144px;
        width: 450px;
    }
}

/*   Media between 900 and 1280
/*******************************************************************/
@media only screen and (min-width: 900px) {
    footer {
        padding: 1.5rem 2.5% 2.25em; /* 15px either side at full width: 30/1200 x 100 = 2.5 */
    }
    main {
        padding-left: 2.5%;
        padding-right: 2.5%
    }

	/* class elements: =. */
    .media-play video, .media-play embed {
        width: 720px
    }
    .page-home .introduction {
        border-radius: 12em 0;
        margin: 8rem auto;
        padding: 7.5rem 10% 6.5rem;
        width: 60%
    }
    .page-paintings .description, .page-interior-design .description {
        margin-right: 2%;
        width: 40%
    }
    .page-paintings .gallery, .page-interior-design .gallery {
        width: 58%
    }
    .page-music main section {
        float: left;
        margin-right: 4%;
        width: 30%
    }
    .page-music main section:last-child {
        margin-right: 0
    }
}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {
    /* no need to specify % widths in this range as it's fixed-width desktop size viewport */
    header {
        border-radius: 40px 40px 0 0;
        height: 9.75em;
        margin-top: 1.75em;
        position: relative
    }
    body {
        margin-left: auto;
        margin-right: auto;
        padding-left: 30px;
        width: 1200px
    }
    footer > * {
		padding-left: 20px;
        padding-right: 20px
	}
    
	/* class elements: =. */
    .gallery li {
        flex: 0 0 7.4em;
        margin: 0.35em
    }
    .js .choice {
        float: left;
        width: 680px
    }
    .js .page-paintings .choice h2, .js .page-interior-design .choice h2 {
        margin: 0 0 0.75rem
    }
    .js .choice h2 a {
        padding: 0
    }
    .js .choice h2 .info-section-drop {
        border-bottom: none;
		padding-bottom: 2rem;
    }
    .js .container-lozenge.image {
        bottom: 0;
        height: 13rem;
        margin-bottom: 0;
        position: absolute;
        width: 160px
    }
    .js .col-2 .container-lozenge.image {
        height: 18rem;
        width: 48%
    }
    .js .col-3 .container-lozenge.image {
        width: 31%
    }
    .js .col-4 .container-lozenge.image {
        width: 24%
    }
    .js .page-books .container-lozenge.image {
        height: 20rem;
    }
    .js .page-music .container-lozenge.image {
        height: 21rem;
    }
    .js .page-music .deliverable {
        width: 100%
    }
    .js .page-paintings .description, .page-interior-design .description {
        float: none;
        margin-right: 0;
        width: auto
    }
    .js .detail {
        float: right;
        height: 60rem;
        overflow: hidden;
        padding: 5.25rem 12px 0;
        width: 409px
    }
    .js .detail h2 {
        display: block;
    }
    .js .detail > div {
        overflow-y: auto;
        position: relative
    }
    .js .detail > div:not(.off-screen) {
        height: 92%
    }
    .js .page-paintings .gallery, .page-interior-design .gallery {
        float: none;
        width: auto
    }
    .js .page-books main section {
        float: none;
        margin-right: 0;
        width: auto
    }
    .js .page-books main section li {
        margin-bottom: 1.2rem;
        padding-right: 0
    }
    .page-music main section {
        float: none;
        margin-right: 0;
        width: auto
    }
    .js .page-music main section li {
        margin-bottom: 1.2rem;
        min-height: auto;
        padding-right: 0;
        padding-top: 0
    }
    .js .header-sub {
        margin-top: 1.5rem;
        position: relative
    }
    .js .header-sub.col-2 {
        -webkit-columns: 2 27px; -moz-columns: 2 27px; columns: 2 27px;
        -webkit-column-gap: 22px; -moz-column-gap: 22px; column-gap: 22px;
    } 
    .js .header-sub.col-3 {
        -webkit-columns: 3 27px; -moz-columns: 3 27px; columns: 3 27px;
        -webkit-column-gap: 22px; -moz-column-gap: 22px; column-gap: 22px;
    }       
    .js .header-sub.col-4 {
        -webkit-columns: 4 127px; -moz-columns: 4 127px; columns: 4 127px;
        -webkit-column-gap: 15px; -moz-column-gap: 15px; column-gap: 15px;
    }
    .js .header-sub section {
        -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid;
        margin: 0
    }
    .js .page-interior-design .header-sub section {
        min-height: 48.75rem
    }
    .js .page-paintings .header-sub section {
        min-height: 39rem
    }
    .js .page-books .header-sub section, .js .page-music .header-sub section {
        min-height: 51rem
    }
    .js .info-section {
        padding: 1.25rem 10px;
        width: 100%
    }
    .js .info-section.visible {
        height: auto;
        left: 0;
        position: absolute
    }
    .js .media-play video {
        width: 100%
    }
    .js .page-music section li a {
        margin: 0
    }
    .site-home {
        left: -30px;
        top: -2.0em;
    }
    a .site-home {
        transition: all 0.2s ease 0s;
    }
    a:hover .site-home {
        transform: scale(1.03);
    }
}