/*
////////////////////////////////////////////////////////////////////////////////
///   Colours and file resources (reskins) - def. viewport 320px wide        ///
///                                                                          ///
///   Queries - nicholas.bergquist@informa.com                               ///
////////////////////////////////////////////////////////////////////////////////
*/

/*  Default 320px media width
/*******************************************************************/

/* Generic DOM elements */
footer {
	background-color: #333;
	color: #fff;
}
header {
    background: url(../images/20.jpg) no-repeat fixed center center / cover;
	transition: background 1s linear;
}
header::after {
    background-color: rgba(0, 0, 0, 0.25);
}
nav li:first-child {
	background: #bccf02
}
nav li:nth-child(2) {
	background: #5bb12f
}
nav li:nth-child(3) {
	background: #73c5e1
}
nav li:nth-child(4) {
	background: #eb65a0
}
nav li:last-child {
	background: #9b539c
}

/* pseudo-classes */
:link, :visited {

}
:link:hover, :visited:hover {

}
nav :link, nav :visited {
	color: #fff;
}

/* class elements: =. */
.logo-site {
    background: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.logo-site :link, .logo-site :visited, .logo-site :link:hover, .logo-site :visited:hover {
	color: #fff
}

/*   Media between 480 and 767
/*******************************************************************/
@media only screen and (min-width: 480px) {

}

/*   Media between 900 and 1023
/*******************************************************************/
@media only screen and (min-width: 900px) {


	/* class elements: =. */

}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {


	/* class elements: =. */

}
