/*
////////////////////////////////////////////////////////////////////////////////
///   Colours and file resources (reskins) - def. viewport 320px wide        ///
///                                                                          ///
///   Queries - nicholas.bergquist@informa.com                               ///
////////////////////////////////////////////////////////////////////////////////
*/

/*  Default 320px media width
/*******************************************************************/

/* Generic DOM elements */
footer {
	background-color: #333;
	color: #fff;
}
header {
    background-image:  url(../images/tranquility.jpg); 
	background-size: cover;
	/*transition: background 1s linear;*/
}
html {
	background-color: #333;
}
section h3 {
	text-shadow: 1px 1px 1px #000;
}
section li a {
	color: #fff;
}

/* pseudo-classes */
:link, :visited {

}
:link:hover, :visited:hover {

}
footer :link, footer :visited, footer :link:hover, footer :visited:hover {
	color: #73c5e1
}
nav :link, nav :visited {
	color: #fff;
}

/* class elements: =. */
.container-lozenge {
    border-color: #fafafa;
    border-radius: 50px 0; 
    box-shadow: 5px 15px 15px 0 rgba(0, 0, 0, 0.25);
}
.container-lozenge::after {
    box-shadow: 2px 15px 25px #191919 inset;
}
.list-standard li {
	background: url(../images/liberte_list_20x20_01.png) no-repeat left top;
}
.menu-site a {
	text-shadow: 1px 1px 10px #333;
}
.menu-site .home {
	background: #bccf02;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
	background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
}
.menu-site .paintings {
	background: #5bb12f;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(189,224,172,0) 40%, rgba(91,177,47,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(189,224,172,0) 40%,rgba(91,177,47,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(189,224,172,0) 40%,rgba(91,177,47,1) 100%);
}
.menu-site .interior-design {
	background: #73c5e1;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(199,232,243,0) 40%, rgba(115,197,225,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(199,232,243,0) 40%,rgba(115,197,225,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(199,232,243,0) 40%,rgba(115,197,225,1) 100%);
}
.menu-site .music {
	background: #eb65a0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(247,193,217,0) 40%, rgba(235,101,160,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(247,193,217,0) 40%,rgba(235,101,160,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(247,193,217,0) 40%,rgba(235,101,160,1) 100%);
}
.menu-site .books {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(215,186,215,0) 40%, rgba(155,83,156,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(215,186,215,0) 40%,rgba(155,83,156,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(215,186,215,0) 40%,rgba(155,83,156,1) 100%);
} 
.page-books h1 {
	color: #eb65a0;
} 
.page-books main {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(155,83,156,1) 0%, rgba(84,44,80,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(155,83,156,1) 0%,rgba(84,44,80,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(155,83,156,1) 0%,rgba(84,44,80,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-books .container-lozenge {
    border-color: #4d294e;
}
.page-books .menu-site .books {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(155,83,156,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(155,83,156,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(155,83,156,1) 75%);
	border-radius: 25px 0 0 0;
} 
.page-home main {
	background: #bccf02;
	background: -moz-linear-gradient(top, rgba(188,207,2,1) 1%, rgba(86,95,9,0.85) 0, rgba(255,255,255,0) 20%) !important;
	background: -webkit-linear-gradient(top, rgba(188,207,2,1) 1%,rgba(86,95,9,0.85) 0,rgba(255,255,255,0) 20%) !important;
	background: linear-gradient(to bottom, rgba(188,207,2,1) 1%,rgba(86,95,9,0.85) 0,rgba(255,255,255,0) 20%) !important;
}
.page-home .introduction {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6em 0;
	box-shadow: 30px 30px 30px 0 rgba(0, 0, 0, 0.25);
}
.page-home .menu-site .home {
	background: #bccf02;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	border-radius: 0 25px 0 0;
}
.page-interior-design h1 {
	color: #267dbd;
}
.page-interior-design main {
	background: #73c5e1;
	background: -moz-linear-gradient(top, rgba(115,197,225,1) 0%, rgba(60,92,108,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(115,197,225,1) 0%,rgba(60,92,108,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(115,197,225,1) 0%,rgba(60,92,108,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-interior-design .container-lozenge {
    border-color: #396270;
}
.page-interior-design .menu-site .interior-design {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	border-radius: 25px 25px 0 0;
}
.page-music h1 {
	color: #9b539c;
}
.page-music h2 {
	color: #9b539c;
}
.page-music h3 {
	color: #999;
}
.page-music main {
	background: #eb65a0;
	background: -moz-linear-gradient(top, rgba(235,101,160,1) 0%, rgba(107,56,73,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(235,101,160,1) 0%,rgba(107,56,73,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(235,101,160,1) 0%,rgba(107,56,73,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-music .container-lozenge {
    border-color: #753250;
	border-radius: 6em 0;
}
.page-music .menu-site .music {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	border-radius: 25px 25px 0 0;
}
.page-paintings h1 {
	color: #bccf02;
} 
.page-paintings main {
	background: #5bb12f;
	background: -moz-linear-gradient(top, rgba(91,177,47,1) 0%, rgba(47,89,24,0.85) 5.75em, rgba(51,51,51,0) 100%);
	background: -webkit-linear-gradient(top, rgba(91,177,47,1) 0%,rgba(47,89,24,0.85) 5.75em,rgba(51,51,51,0) 100%);
	background: linear-gradient(to bottom, rgba(91,177,47,1) 0%,rgba(47,89,24,0.85) 5.75em,rgba(51,51,51,0) 100%);	
}
.page-paintings .container-lozenge {
    border-color: #2d5817;
}
.page-paintings .list-standard :link, .page-paintings .list-standard :visited, 
.page-paintings .list-standard :link:hover, .page-paintings .list-standard :visited:hover {
	color: #5bb12f;
	text-shadow: 1px 1px 0 #000;
}
.page-paintings .menu-site .paintings {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,  rgba(91,177,47,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(91,177,47,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(91,177,47,1) 75%);
	border-radius: 25px 25px 0 0;
}
.site-home {
    background: url(../images/LiberteLogo_White_280x90.png) no-repeat center center;
}


/*   Media between 480 and 767
/*******************************************************************/
@media only screen and (min-width: 480px) {

	.site-home {
		background: url(../images/LiberteLogo_White_450x144.png) no-repeat center center;
	}

}

/*   Media between 900 and 1023
/*******************************************************************/
@media only screen and (min-width: 900px) {


	/* class elements: =. */

}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {


	/* class elements: =. */

}
