/*
////////////////////////////////////////////////////////////////////////////////
///   Colours and file resources (reskins) - def. viewport 320px wide        ///
///                                                                          ///
///   Queries - nick_bergquist@yahoo.co.uk                                   ///
////////////////////////////////////////////////////////////////////////////////
*/

/*  Default 320px media width
/*******************************************************************/

/* Generic DOM elements */
footer {
	background-color: #333;
	color: #fff;
}
header {
    background-image:  url(../images/tranquility.jpg); 
	background-size: cover;
	/*transition: background 1s linear;*/
}
html {
	background-color: #333;
}
h2 {
    background-color: rgba(0, 0, 0, 0.25);
}
main {
	background: url(../images/background_paintings_00.jpg) no-repeat fixed 145px bottom / cover; 
	box-shadow: 0 0 10px 15px #fff inset;
	color: #fff;
}
section li a {
	color: #fff;
}

/* animation */
@keyframes border-blink { 
	5% {border-color: rgba(128, 128, 128, 0.5);}
}
.blink { 
	animation: border-blink 1.0s ease-in-out; 
}

/* pseudo-classes */
footer :link, footer :visited, footer :link:hover, footer :visited:hover {
	color: #73c5e1
}
nav :link, nav :visited {
	color: #fff;
}

/* class elements: =. */
.container-lozenge {
    border-color: #fafafa;
    border-radius: 50px 0; 
    box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.85);
}
.container-lozenge::before {
    box-shadow: 0 0 4px #999 inset;
}
.detail {
	/*background: #fff url(../images/toplights_00.jpg) repeat-x 0 0;*/
	background-color: #fff;
	background-image: url(../images/toplights_00.jpg), url(../images/logo_swirl_background_00.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top center, right bottom;
	color: #000;
}
.gallery {
    background-color: rgba(0, 0, 0, 0.3);
}
.gallery a img {
	border: 4px solid;
	border-color: transparent
}
.page-paintings .gallery a:hover img, .page-paintings .gallery a:focus img {
	border-color: #5bb12f;
	transition : border 175ms linear;
}
.list-standard li {
	background: url(../images/liberte_list_20x20_01.png) no-repeat left top;
}
.menu-site a {
	text-shadow: 1px 1px 10px #000;
}
.menu-site .home {
	background: #bccf02;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
	background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(228,236,154,0) 40%, rgba(188,207,2,1) 100%);
}
.menu-site .paintings {
	background: #5bb12f;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(189,224,172,0) 40%, rgba(91,177,47,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(189,224,172,0) 40%,rgba(91,177,47,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(189,224,172,0) 40%,rgba(91,177,47,1) 100%);
}
.menu-site .interior-design {
	background: #73c5e1;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(199,232,243,0) 40%, rgba(115,197,225,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(199,232,243,0) 40%,rgba(115,197,225,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(199,232,243,0) 40%,rgba(115,197,225,1) 100%);
}
.menu-site .music {
	background: #eb65a0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(247,193,217,0) 40%, rgba(235,101,160,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(247,193,217,0) 40%,rgba(235,101,160,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(247,193,217,0) 40%,rgba(235,101,160,1) 100%);
}
.menu-site .books {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(215,186,215,0) 40%, rgba(155,83,156,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(215,186,215,0) 40%,rgba(155,83,156,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(215,186,215,0) 40%,rgba(155,83,156,1) 100%);
} 
.page-books main {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(155,83,156,1) 0%, rgba(84,44,80,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(155,83,156,1) 0%,rgba(84,44,80,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(155,83,156,1) 0%,rgba(84,44,80,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-books .menu-site .books {
	background: #9b539c;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(155,83,156,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(155,83,156,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(155,83,156,1) 75%);
	border-radius: 25px 0 0 0;
} 
.page-home main {
	background: #bccf02;
	background: -moz-linear-gradient(top, rgba(188,207,2,1) 1%, rgba(86,95,9,0.85) 0, rgba(255,255,255,0) 20%) !important;
	background: -webkit-linear-gradient(top, rgba(188,207,2,1) 1%,rgba(86,95,9,0.85) 0,rgba(255,255,255,0) 20%) !important;
	background: linear-gradient(to bottom, rgba(188,207,2,1) 1%,rgba(86,95,9,0.85) 0,rgba(255,255,255,0) 20%) !important;
}
.page-home .introduction {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 6em 0;
	box-shadow: 30px 30px 30px 0 rgba(0, 0, 0, 0.25);
}
.page-home .menu-site .home {
	background: #bccf02;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	background: linear-gradient(rgba(255,255,255,0) 0%, rgba(188,207,2,1) 75%);
	border-radius: 0 25px 0 0;
}
.page-interior-design main {
	background: #73c5e1;
	background: -moz-linear-gradient(top, rgba(115,197,225,1) 0%, rgba(60,92,108,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(115,197,225,1) 0%,rgba(60,92,108,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(115,197,225,1) 0%,rgba(60,92,108,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-interior-design .menu-site .interior-design {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(115,197,225,1) 75%);
	border-radius: 25px 25px 0 0;
}
.page-music h2 {
	color: #9b539c;
}
.page-music h3 {
	color: #999;
}
.page-music main {
	background: #eb65a0;
	background: -moz-linear-gradient(top, rgba(235,101,160,1) 0%, rgba(107,56,73,0.85) 5.75em, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top, rgba(235,101,160,1) 0%,rgba(107,56,73,0.85) 5.75em,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(235,101,160,1) 0%,rgba(107,56,73,0.85) 5.75em,rgba(255,255,255,0) 100%);
}
.page-music .container-lozenge {
	border-radius: 6em 0;
}
.page-music .menu-site .music {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(235,101,160,1) 75%);
	border-radius: 25px 25px 0 0;
}
.page-paintings h2 {
    border-bottom-color: #5bb12f;
}
.page-paintings .detail h3 {
    border-bottom-color: #5bb12f;
}
.page-paintings main {	
	/*
	background: #5bb12f;
	background: -moz-linear-gradient(top, rgba(91,177,47,1) 0%, rgba(47,89,24,0.85) 5.75em, rgba(51,51,51,0) 100%);
	background: -webkit-linear-gradient(top, rgba(91,177,47,1) 0%,rgba(47,89,24,0.85) 5.75em,rgba(51,51,51,0) 100%);
	background: linear-gradient(to bottom, rgba(91,177,47,1) 0%,rgba(47,89,24,0.85) 5.75em,rgba(51,51,51,0) 100%);
	*/	
}
.page-paintings nav {
	border-bottom-color:#5bb12f;
}
.page-paintings .list-standard :link, .page-paintings .list-standard :visited, 
.page-paintings .list-standard :link:hover, .page-paintings .list-standard :visited:hover {
	color: #5bb12f;
	text-shadow: 1px 1px 0 #000;
}
.page-paintings .menu-site .paintings {
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%,  rgba(91,177,47,1) 75%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(91,177,47,1) 75%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(91,177,47,1) 75%);
	border-radius: 25px 25px 0 0
}
/*
.site-home {
    background: url(../images/LiberteLogo_white_280x90.png) no-repeat center center
}
*/

/*   Media between 480 and 767
/*******************************************************************/
@media only screen and (min-width: 480px) {
	footer li a {
        border-right-color: #fff
    }

	/* class elements: =. */
	/*
	.site-home {
		background: url(../images/LiberteLogo_White_450x144.png) no-repeat center center;
	}
	*/

}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {

	/* class elements: =. */
	.detail {
		border-radius: 65px 0
	}
	.detail.container-lozenge::before {
		border-radius: 56px 0
	}
	.gallery {
		background-color: transparent
	}
	.js .detail h2 {
        background-color: transparent
    }
	.js .info-section {
        background: rgba(0, 0, 0, 0.5)
    }
	.page-paintings .container-lozenge.image:hover, .page-paintings .container-lozenge.focus-lozenge {
		border-color: #5bb12f;
		transition : border 175ms linear
	}
	section.selected {
		background: rgba(0, 0, 0, 0.25);
		border-radius: 0 0 50px;
		box-shadow: 0 2px 2px #333;
	}
	section.selected .container-lozenge {
		box-shadow: none
	}
}