/*///////////////////////////////////////////////////////////////////////
///   Page typography - default is for viewport 320px wide            ///
///                                                                   ///
///   nick_bergquist@yahoo.co.uk                                      ///
///                                                                   ///
///////////////////////////////////////////////////////////////////////*/

/* Fonts */
@font-face {
    font-family: 'ParisJeTAime';
    src: url('../type/ParisJeTAime.eot');
    src: url('../type/ParisJeTAime.eot?#iefix') format('embedded-opentype'),
         url('../type/ParisJeTAime.woff') format('woff'),
         url('../type/ParisJeTAime.ttf') format('truetype'),
         url('../type/ParisJeTAime.svg#ParisJeTAime') format('svg');
    font-weight: normal;
    font-style: normal
}
@font-face {
  font-family: 'OpenSans';
  src: url('../type/OpenSans.woff') format('woff'),
       url('../type/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../type/OpenSans-Regular.eot');
    src: url('../type/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../type/OpenSans-Regular.woff2') format('woff2'),
         url('../type/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../type/OpenSans-Bold.eot');
  src: url('../type/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../type/OpenSans-Bold.woff') format('woff'),
       url('../type/OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
	   url('../type/OpenSans-Bold.ttf') format('truetype');       
  font-weight: normal;
  font-style: normal
}

/* Generic DOM elements */
html {
	font-size: 62.5%; /* 62.5% of 16px = 10px */
}
body {
	/*  14px (desired base font size). 21px (1.5 x base font size) desired base line-height. */
    font: 1.4rem/1.5 OpenSans-Regular, Arial, Helvetica, sans-serif
}

footer[role='contentinfo'] p {
	font-size: 1.2rem; /* 12px */
    text-align: center
}
h1, h2, h3, h4, h5, h6, caption, legend, input[type='submit'] {
	font-family: ParisJeTAime;
    letter-spacing: 0.02em;
    word-spacing: -3px
}
h1, h2, h3, h4, h5, h6, caption, legend {
    line-height: 1.1
}
h1 {
	font-size: 2.8rem; /* 28px */
}
h2 {
	font-size: 1.6rem;
}
h3 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1.2rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1.2rem;
}
legend {
    font-size: 1.9rem
}
textarea {
    font-family: arial;
    font-size: 1.3rem;
}

/* pseudo-classes */
:link, :visited {
	text-decoration: none
}
:link:hover, :visited:hover {
	text-decoration: underline
}

/* class elements: =. */
.advice-form-fields {
    font-size: 1.1rem
}
.advice-form-fields:before {
    font-size: 2rem
}
.menu-site a {
	font-family: ParisJeTAime;
	font-size: 1.1rem;
    letter-spacing: 0.02em
}
.page-home-sub .fwibble {
    font-family: ParisJeTAime;
    font-size: 3rem;
    text-align: center;
}
.required:after {
    font-size: 2rem; 
    line-height: 0
}

/*   Media between 768 and 899
/*******************************************************************/
@media only screen and (min-width: 768px) {

	/* class elements: =. */
    .menu-site a {
		font-size: 1.6rem
	}
}

/*   Media between 1024 and 1279
/*******************************************************************/
@media only screen and (min-width: 1024px) {
    main {
        font-size: 1.2rem
    }

	/* class elements: =. */
    .js .choice h2 .info-section-drop {
		text-decoration: none;
    }
    .js .choice h2 a {
        font-size: 1.4rem
    }
    .js .detail h2 {
        text-align: center
    }
    .js .info-section {
        font-size: 1.2rem
    }
}

/*   Media 1280 and above
/*******************************************************************/
@media only screen and (min-width: 1280px) {
    
    .js .choice h2 a {
        font-size: 1.6rem
    }
}